<table>
    <tr valign="top">
        <td>
            <a href="{{ url_for('user', username=post.author.username) }}">
            <img
                src="{{ post.author.avatar(36) }}"
                alt="{{ post.author.username }}'s avatar"
            />
            </a>
        </td>
        <td>
            <a href="{{ url_for('user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            says: <br />
            <strong>{{ post.body }}</strong>
        </td>
    </tr>
</table>
