{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(120) }}" alt="{{ user.username }}'s avatar"></td>
            <td><h1>User: {{ user.username }}</h1></td>
        </tr>
    </table>
    <hr>
    <table>
        {% for post in posts %}
        <tr valign="top">
            <td><img src="{{ post.author.avatar(36) }}" alt="{{ post.author.username }}'s avatar"></td>
            <td>{{ post.author.username }} says: <br> <strong>{{ post.body }}</strong></td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}